resource_group_name = "wmt-grc-razorback"
subscription_id = ""
client_id=""
client_secret = ""
tenant_id = ""
resource_group_location = "westus"
vnet_address_space = "192.168.0.0/22"
subnet_address_space = "192.168.0.0/24"
computer_name = "wmt-rzr-node"
admin_username = "sawtooth"
public_key_data = ""
settingstemplatepath = "bootstrap.json"
storage_account_name = "storage"
vm_instance_type = "Standard_D2s_v3"